$bgcolor=#3bb0d0
$textindent=0.6rem
CurrentBtn()
      font-size 0.8rem
      width 28%
      text-align center
      border 0.01rem solid #E0E0E0
      height 1.65rem
      line-height 1.65rem
fontset()
   color #808080
   font-size 0.8rem
